@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
#inicio{

    width: 100%;
    height: auto;
}

#inicio .contenido{

}

#inicio .contenido header{
    background-color: rgba(0, 0, 0, .8);
    margin: auto;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}


#inicio .contenido .contenido-header{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 10px 20px;
}
#inicio .contenido header .contenido-header h1{
    text-align: center;
    padding-top: 10px;
    color: aliceblue;
    transition: .5s;
    font-size: 20px;
}
#inicio .contenido header .contenido-header h1:hover{
    color: rgb(14, 131, 234);
}


#icon-nav{
    display: none;
    color: aliceblue;
    font-size: 22px;
}
#inicio .contenido header .contenido-header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: aliceblue;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
    font-size: 20px;

}
#inicio .contenido header .contenido-header nav ul li a:hover {

    color: rgb(14, 131, 234);


}
#inicio .contenido header .contenido-header nav ul li a.seleccionado {
    transition: .5s;
    font-size: 25px;
    color: rgb(14, 131, 234);
    text-shadow: 1px 1px 2px aliceblue ;


}
.redes{
    display: none;
}

.redes a i{
    color: aliceblue;
    display: inline-block;
    margin: 0 12px;
    padding-top: 10px;
    font-weight: 400;
    font-size: 25px;
    transition: .5s;

}
.redes a i:hover{
    color: rgb(14, 131, 234);
}

#inicio .contenido .informacion{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    padding: 120px 15px;
    display: flex;
}

#inicio .contenido .informacion .foto{
    
    padding: 0px;
    max-width: 400px;
    margin-right: 50px;
    height: 40vh;
}

#inicio .contenido .informacion .foto img{
    
    padding: 20px;
    width: 100%;
    border-radius: 20px;
 
}

#inicio .contenido .informacion .title{
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: rgb(183, 183, 224);
    text-decoration-thickness: 5px;
    margin-bottom: 20px;
 
}
#inicio .contenido .informacion .contacto{
    padding: 20px;
    max-width: 50%;
    padding-bottom: 100px;
}
#inicio .contenido .informacion .contacto .title{
    font-size: 52px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: rgb(183, 183, 224);
    text-decoration-thickness: 5px;
    margin-bottom: 20px;
}

#inicio .contenido .informacion .contacto p{
    margin-bottom: 20px;
    font-size: 20px;

}

#content-research{
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    display: block;
    transition: .5s;
    margin-bottom: 100px;

    
}

#content-research .article{
    max-width: 100%;
    margin: 10px;
    padding: 10px;
    transition: .5s;

}
#content-research p:hover{
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a ;
    
}


/*Teaching*/
#content-teaching{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    padding: 200px 15px;
    display: block;
    transition: .5s;
    margin-bottom: 100px;
    
}

#content-teaching .article{
    max-width: 100%;
    margin: 10px;
    transition: .5s;
}

/*estilos contacto*/
#content-contact{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    padding: 200px 15px;
    display: flex;
    transition: .5s;
    margin-bottom: 100px;
    
}

#content-contact .article{
    max-width: 100%;
    margin: 10px;
    transition: .5s;
    font-size: larger;
    
}
#content-contact iframe{
    margin-left: 20px;
}



footer{
    background-color: #000;
    color: aliceblue;
    text-align: center;
    padding: 30px 0;
    margin-top: 200px;
 
    
}
footer a{
    text-decoration: none;
    color: aliceblue;
    display: inline-block;
    margin: 5px;  
    font-weight: 400;
    font-size: 20px;
    transition: .5s;
}
footer .redes-footer{
  display: none;
}

@media screen and (max-width:800px) {
    .redes{
        display: none;
    }
    nav{
        display: none;
    }
    nav.responsive {
        display: block;
        background-color: rgba(0, 0, 0, .8);
        width: 100%;
        position: absolute;
        top: 65px;
        left: 0;
        padding: 10px 0;
        }
    nav.responsive ul{
        display: block !important;
        text-align: center;

    }

    nav.responsive ul li{
        margin: 5px 0;
    }
    #icon-nav{
        font-size: 30px;
        margin-top: 10px;
        display: block;
    }
    #inicio{
        height: auto;
    }
    #inicio .contenido {
        height: auto;
    }
    #inicio .contenido .presentacion h2{
        font-size: 40px;
    }
    #inicio .contenido .presentacion .descripcion{
        text-align: center;
    }

    /*About*/
    #inicio .contenido .informacion{
        display: block;
        padding: 200px 0;
        height: auto;
        margin: auto;
        justify-content: center;
        text-align: center;
    }
    #inicio .contenido .informacion .contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
            margin: auto;
    }
    #inicio .contenido .informacion .foto{
        max-width: 300px;
        margin: auto;

    }
     /*research*/   
     #inicio .contenido .content-research{
        display: block;
        padding: 200px 0;
        height: auto;
        margin: auto;
        justify-content: center;
        text-align: center;
    }
     /*teaching*/ 
     #inicio .contenido .content-teaching{
        display: block;
        padding: 200px 0;
        height: auto;
        margin: auto;
        justify-content: center;
        text-align: center;
    }
    
    /*contact*/   

    #content-contact{
        display: block;
        height: auto;
        margin: auto;
        padding: 200px 15px;
        max-width: 500px;
    
     }
     #content-contact .article{
        width: 100%;
        margin-bottom: 30px;
     }

     #content-contact iframe{
         width: 100%;
         margin: 0;
     }



     footer{
        width: 100%;
     }
}
    